*,
*:before,
*:after {
	box-sizing: border-box;
	font-family: 'Raleway', sans-serif;

}

html, body {
	font-family: 'Raleway', sans-serif;
	padding: 0;
	margin: 0;
	font-size: 14px;
}

body {
	background-image: url(image-path("pencil_food.jpg"));
	background-size: cover;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
	line-height: 1;
}

/*
	===================
	CONTENT DIV
	===================
*/ 
.content {
	display: grid;
	gap: 20px;
	height: 100vh;
	grid-template-columns: 120px 1fr 120px;
	grid-template-rows: 100px 1fr 70px;
	grid-template-areas:
		"header header header"
		"...... main   ......"
		"footer footer footer";
	justify-content: center;
}

/* 
	====================
	HEADER
	====================
*/

header {
	background: #fff;
	display: flex;
	justify-content: space-around;
	position: fixed;
	height: 100px;
	width: 100%;
	z-index: 99;
	grid-area: header;
	border-bottom: 5px double rgba(22, 69, 156, 0.644);
}

.header {
	display: grid;
	gap: 10px;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100%;
	justify-content: space-between;
	align-items: center;
	padding: 5px 15px;
	width: 80%;

}

.header-left {
	height: 80px;
	display: flex;
	align-items: center;
}
.logo {
	height: 100%;
	width: 60px;
}

.logo:hover {
	transform: rotate(-0.05turn);
}

.logo img {
	height: 100%;
}

.header-left h1 {
	justify-self: center;
	flex: 3;
	color: rgb(61, 61, 61);
	text-shadow: lightgrey 0 -1.5px;
	cursor: default;
}

.header-left h1:hover {
	color: rgba(61, 61, 61, 0.5);
}
.header-links {
	padding: 0;
	display: flex;
	justify-content: space-around;
}

.header-links li {
	list-style: none;
	height: 40px;
	padding: 0 10px;
	font-size: 18px;
	border-radius: 5px;
	background: rgba(104, 104, 44, 0.534);
	display: flex;
	justify-content: center;
}

.header-links li:hover {
	box-shadow: 0 6px 6px -6px grey;
		transform: scale(1.1);
}
.header-links a {
	height: 100%;
	width: 100%;
	text-decoration: none;
	color: black;
	font-weight: 500;
	display: flex;
	align-items: center;
	justify-content: center;
}


/*
	========================
	MAIN
	========================
*/
.main {
	grid-area: main;
	grid-row: 2 / -2;
	justify-self: center;
	align-self: center;
}

/*
	=====================
	FOOTER
	=====================
*/ 
footer {
	grid-area: footer;
	height: 40px;
	width: 100%;
	background: white;
	position: absolute;
	bottom: 0;
	display: xx;
	justify-content: space-between;
	align-items: center;
	margin: 0;
	padding: 0;
}

.bottom-links {
	display: flex;
	padding: 0;
}

.bottom-links li {
	list-style: none;
	padding: 0 15px;
}

.bottom-link {
	text-decoration: none;
	color: grey;
	font-size: 14px;
}

.bottom-link:hover {
	color: darkgrey;
}

/* 
	==================
	FORMS
	==================
*/ 

.form {
	background: rgba(3, 3, 3, 0.822);
	color: white;
}
.form-title {
	text-align: center;
	font-size: 40px;
	padding: 20px 0;
}

form {
	text-align: center;
}

.field {
	padding: 15px 0;
	font-size: 16px;
}

input {
	text-align: center;
}

.actions input {
	height: 40px;
	width: 100px;
	background: rgba(104, 104, 44, 0.534);
	border-radius: 5px;
	border: none;
	font-size: 20px;
	cursor: pointer;
	color: white;
}

.actions input:hover {
	box-shadow: 0 6px 6px -6px grey;
	transform: scale(1.1);
}

/* additional conditional devise links  from devise/shared/_links.html.erb */ 
.extra-links {
	text-align: center;
	color: white;
	padding: 30px 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.extra-links p {
	width: 100%;
}

.devise-link {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	margin: 0 20px;
	color: black;
	height: 35px;
	width: 100px;
	border-radius: 5px;
	background: #000a8073;
	color: white;
}

.devise-link:hover {
	box-shadow: 0 6px 6px -6px grey;
	transform: scale(1.1);
}

.cancel-btn {
	background: rgba(255, 0, 0, 0.575);
	width: 180px;
	cursor: pointer;
	border: none;

}

/* errors */ 
.devise-errors {
	padding: 0;
}
.devise-error {
	list-style: none;
	color: red;
}