<footer>
	<a class="bottom-link" href="https://github.com/braxtonlemmon">Ⓒ Braxton Lemmon</a>
	<ul class="bottom-links">
		<li><%= link_to "About", "#", class: "bottom-link" %></li>
		<li><%= link_to "Contact", "#", class: "bottom-link" %></li>
	</ul>
</footer>
